<div class="container">
    <h1>Edit Product</h1>
    <form action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data" method="post">
      <div class="mb-3">
        <label  class="form-label" >Name</label>
        <input type="text" class="form-control" name="name" value="{{product.name}}" placeholder="Enter Product Name">
      </div>
      <div class="mb-3">
        <label  class="form-label">Category</label>
        <input type="text" class="form-control" value="{{product.category}}" name="category" >
      </div>
      <div class="mb-3">
        <label  class="form-label">Description</label>
        <input type="text" class="form-control" value="{{product.description}}" name="description" >
      </div>
      <div class="mb-3">
        <label for="" class="form-label" >price</label>
        <input type="number" class="form-control" value="{{product.price}}" name="price" ></div>
      <div class="mb-3">
        <label class="form-label">Image</label>
        <img src="/images/product-images/{{product._id}}.jpg " class="view-product-img" id="proImg" alt="">
        <input type="file" class="form-control" onchange="viewImg(event)"  name="image">
      </div>
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>

<script>
  function viewImg(event){
    document.getElementById('proImg').src=URL.createObjectURL(event.target.files[0])
  }
</script>