<div class="container">
    <div class="row">
        {{#each products}}
        <div class="card m-3 p-2" style="width: 18rem;">
            <img src="/images/product-images/{{this._id}}.jpg" class="img-card-view" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <h6 class="text-secondary">{{this.category}}</h6>
                <p class="card-text">{{this.description}}.</p>
                <a href="#" class="btn btn-primary">{{this.price}}₹</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>